body {
  background-color: #ffeedd;
  color: #171A21;
}

#corner-one {
  width: 18%;
}

#div-one {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}

#div-two {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}

#div-three {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}

#div-four {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}

#div-five {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}

#div-six {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}

#div-seven {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}

#div-eight {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}

#div-nine {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}

#div-ten {
  border-color: #617073;
  border-style: solid;
  padding: 15px;
  border-width: 20%;
}
