body {
  background-color: hsl(30, 100%, 93%);
  color: #171a21;
}

#corner-one {
  width: 18%;
}

#div-one {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}

#div-two {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}

#div-three {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}

#div-four {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}

#div-five {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}

#div-six {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}

#div-seven {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}

#div-eight {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}

#div-nine {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}

#div-ten {
  border: 5px solid #171a21;
  padding: 15px;
  margin: auto;
  margin-right: 800px;
}
